* {
    box-sizing: border-box;
}

html {
    font-family: helvetica;
}

img {
    box-shadow: 3px 3px #ba3333;
}

.corgi-gallery {
    box-shadow: 3px 3px green;
    height: 120px;
}

.small {
    height: 40px;
}
#special-pic {
    box-shadow: 3px 3px #54dbed;
    height: 200px;
}

.green {
    color: green
}

.blue-border {
    border: 5px blue dotted; 
}

